<br>
<h3> Setup Configurations </h3>
<br>

<form [formGroup]="setupForm" (ngSubmit)="onSubmit()" name="setupForm">

    <div class="form-group">
        <label>Region</label>
        <select class="form-control" formControlName="region">
            <option *ngFor="let region of regions" [ngValue]="region">{{region}}</option>
        </select>
    </div>

    <div class="form-group">
        <label>Script Bucket*</label>
        <input type="text" class="form-control" formControlName="script_bucket" placeholder="">
        <small class="form-text text-muted">The bucket where scripts will be uploaded to *This field is required.</small>
        <div *ngIf="script_bucket.invalid">
            <div class="alert alert-danger" *ngIf="script_bucket.touched && script_bucket.errors.required">This field is required.</div>
            <div class="alert alert-danger" *ngIf="script_bucket.dirty && script_bucket.errors.pattern || script_bucket.errors.cannotContainSpaces">Bucket names can consist only of lowercase letters, numbers, dots (.), and hyphens (-).</div>
        </div>
    </div>

    <div class="form-group">
        <label>Test Data Bucket*</label>
        <input type="text" class="form-control" formControlName="test_data_bucket" placeholder="">
        <small class="form-text text-muted">The bucket that will contain test data files *This field is required.</small>
        <div *ngIf="test_data_bucket.invalid">
            <div class="alert alert-danger" *ngIf="test_data_bucket.touched && test_data_bucket.errors.required">This field is required.</div>
            <div class="alert alert-danger" *ngIf="test_data_bucket.dirty && test_data_bucket.errors.pattern || test_data_bucket.errors.cannotContainSpaces">Bucket names can consist only of lowercase letters, numbers, dots (.), and hyphens (-).</div>
        </div>
    </div>

    <div class="form-group">
        <label>
            <input type="checkbox" formControlName="upload_test_data" type="checkbox"> Upload Test Data to S3 Test Data Bucket
        </label>
    </div>

    <div class="form-group">
        <label>Test Data Access Secret*</label>
        <input type="text" class="form-control" formControlName="test_data_access_secret" placeholder="">
        <small class="form-text text-muted">The secret stored in AWS Secrets Manager containing the credentials of the IAM user that has S3 read/write permissions for the above buckets *This field is required.</small>
        <div *ngIf="test_data_access_secret.invalid">
            <div class="alert alert-danger" *ngIf="test_data_access_secret.touched && test_data_access_secret.errors.required">This field is required.</div>
        </div>
    </div>

    <div class="form-group">
        <label>Tenant ID</label>
        <input type="text" class="form-control" formControlName="tenant_id" placeholder="">
        <small class="form-text text-muted">Tenant ID value (for use with SharePoint)</small>
    </div>

    <div class="form-group">
        <label>Client ID</label>
        <input type="text" class="form-control" formControlName="client_id" placeholder="">
        <small class="form-text text-muted">Client ID value (for use with SharePoint)</small>
    </div>

    <div class="form-group">
        <label>Client Secret</label>
        <input type="text" class="form-control" formControlName="client_secret" placeholder="">
        <small class="form-text text-muted">Client Secret value (for use with SharePoint)</small>
    </div>

    <button id="submit" type="button" class="btn btn-primary" [disabled]="!isValid" mwlConfirmationPopover 
    [popoverTitle]="submitPopoverTitle" [popoverMessage]="submitPopoverMessage" placement="right"
    (confirm)="onSubmit()">
         {{ submitButtonText }} 
    </button>

    <button id="update" type="button" class="btn btn-warning" [disabled]="updating" mwlConfirmationPopover 
    [popoverTitle]="submitPopoverTitle" [popoverMessage]="updatePopoverMessage" placement="right"
    (confirm)="onUpdatePressed()">
         {{ updateButtonText }} 
    </button>

    <div [@animationState]="animState" class="alert {{alertClass}}" role="alert" style="opacity: 0; display:inline-block;"
        type="text">
        {{alertText}}
    </div>

    <br>
    <br>
    <br>
    <br>
</form>
