<br>
<h3> Setup Configurations </h3>
<br>

<form [formGroup]="setupForm" (ngSubmit)="onSubmit()" name="setupForm">

    <div class="form-group">
        <label>Choose Test Data File List (only .csv files are accepted):</label>
        <input type="file" class="form-control-file" accept=".csv" (change)="handleFileInput($event.target.files)">
    </div>
    <div *ngIf="showUploadFileTypeWarning">
        <div class="alert alert-danger">Only .csv files will be uploaded.</div>
    </div>

    <div class="form-group">
        <label>Tenant ID</label>
        <input type="text" class="form-control" formControlName="tenant_id" placeholder="">
        <small class="form-text text-muted">Tenant ID value (for use with SharePoint)</small>
    </div>

    <div class="form-group">
        <label>Client ID</label>
        <input type="text" class="form-control" formControlName="client_id" placeholder="">
        <small class="form-text text-muted">Client ID value (for use with SharePoint)</small>
    </div>

    <div class="form-group">
        <label>Client Secret</label>
        <input type="text" class="form-control" formControlName="client_secret" placeholder="">
        <small class="form-text text-muted">Client Secret value (for use with SharePoint)</small>
    </div>

    <button id="submit" type="button" class="btn btn-primary" mwlConfirmationPopover 
    [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="right"
    (confirm)="onSubmit()">
         {{ submitButtonText }} 
    </button>

    <div [@animationState]="animState" class="alert {{alertClass}}" role="alert" style="opacity: 0; display:inline-block;"
        type="text">
        {{alertText}}
    </div>

    <br>
    <br>
    <br>
    <br>
</form>
