<div [hidden]="!cookiesExist">
    <table class="table" mat-table #testTable [dataSource]="dataSource">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->


        <!-- Name Column -->
        <ng-container matColumnDef="testName">
            <th *matHeaderCellDef> Test Name </th>
            <td *matCellDef="let element"> <a href={{element.dashboardUrl}}>{{element.testName}}</a> </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="totalUsers">
            <th *matHeaderCellDef> Total Users </th>
            <td *matCellDef="let element"> {{element.totalUsers}} </td>
        </ng-container>

        <!-- Duration Column -->
        <ng-container matColumnDef="duration">
            <th *matHeaderCellDef> Duration </th>
            <td *matCellDef="let element"> {{element.duration}} Seconds </td>
        </ng-container>

        <!-- Expire Time Column -->
        <ng-container matColumnDef="expireTime">
            <th *matHeaderCellDef> Expiry Time </th>
            <td *matCellDef="let element"> {{element.expireTime}} </td>
        </ng-container>

        <ng-container matColumnDef="stopTestButton">
            <th *matHeaderCellDef></th>
            <td *matCellDef="let element">
                <button id="stop-tests" class="btn btn-danger" type="button" (click)=stopTestButton(element.prefix)>
                    Stop Load
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<div [hidden]="cookiesExist">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No currently running tests.</th>
            </tr>
        </thead>
    </table>
</div>