AWS_PROFILE_NAME=glasswall
REGION=eu-west-1
SCRIPT_BUCKET=aws-testengine-s3
SCRIPT_NAME=script/StartExecution.sh
TEST_DATA_BUCKET=icap-perf-test-data
TEST_DATA_FILE=files.csv
SECRET_ID=GlasswallDataRepositoryTestUser
TOTAL_USERS=4000
USERS_PER_INSTANCE=4000
INSTANCES_REQUIRED=1
RAMP_UP=300
DURATION=900
ENDPOINT_URL=icap-client.uksouth.cloudapp.azure.com
INFLUX_HOST=54.154.160.95
PREFIX=aj-test
INSTANCES_REQUIRED=1
JMX_SCRIPT_NAME=ICAP_Direct_FileProcessing_v1.jmx
GRAFANA_URL=54.154.160.95:3000
GRAFANA_KEY=eyJrIjoiR0cyOG9vUWhDUEM3dmRCaGV6QzRvejZJU0htT2hvRk0iLCJuIjoiZ2xhc3N3YWxsIiwiaWQiOjF9
GRAFANA_FILE=LatestDashboard.json