on:
  workflow_dispatch:
  schedule:
    - cron: '*/30 * * * *'

name: Run Tests

jobs:
  deploy:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: eu-west-1

      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: "3.7"

      - name: Install required packages and run tests
        run: |
          pip install boto3 python-dotenv
          cd jmeter-icap-poc/scripts
          cp config.env.sample config.env
          python3 create_stack.py
        env:
          SCRIPT_BUCKET: "aws-testengine-s3" # ${{ secrets.SCRIPT_BUCKET }}
          SCRIPT_NAME: "script/StartExecution.sh" # ${{ secrets.SCRIPT_NAME }}
          INFLUX_HOST: "10.112.0.112" # ${{ secrets.INFLUX_HOST }}
          ENDPOINT_URL: "gw-icap-k8s-a0c293ac.hcp.uksouth.azmk8s.io" # ${{ secrets.ENDPOINT_URL }}
          TOTAL_USERS: 20 # ${{ secrets.TOTAL_USERS }}
          RAMP_UP: 20 # ${{ secrets.RAMP_UP }}
          DURATION: 900 # ${{ secrets.DURATION }}
          PREFIX: "ga" #${{ secrets.PREFIX }}
          TEST_DATA_FILE: "files.csv" # ${{ secrets.TEST_DATA_FILE }}
